$numOfColumns: 12;
$singleColWidth: 100%/($numOfColumns);

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .row {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;

    [class*='col-'] {
      min-height: 1px;
    }

    @for $n from 1 through $numOfColumns {
      .col-#{$n} {
        width: $singleColWidth * $n;
      }
    }
  }
}