// Colors
$basicColorFont: #000;
$altColorFont: #fff;

$error: #ab0000;

$mainColor: #808080;
$altMainColor: #e6e6e6;
$darkerAltMainColor: #cdcdcd;


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
$font: 'Lato', sans-serif;

// Animations