.fullForm {
  height: 100vh;

  .header {
    flex-direction: column;
    color: #fff;

    .header__title {
      font-size: 2em;
      line-height: 2em;
    }

    .header__text {
      line-height: 1.5em;

      &:last-of-type {
        font-size: 0.9em;
      }

      a {
        color: #fff;
        text-decoration: underline;
        background-image: url();
      }
    }

    .header__form {
      display: flex;
      align-items: center;
      position: relative;

      .fas {
        background-color: #fff;
        color: grey;
        position: absolute;
      }

      .fa-search {
        left: 15px;
      }

      .fa-times {
        right: 15px;
      }
      
      .header__form__input {
        width: 100%;
        padding: 10px 10px 10px 40px;
        margin: 20px 0;
      }
    }
  }
}