.fullForm, .smallForm {
  height: 100vh;

  .header {
    flex-direction: column;
    color: #fff;
    overflow-y: hidden;

    .header__title {
      font-size: 2em;
      line-height: 2em;
      font-weight: 900;
    }

    .header__text {
      margin: 5px 0;
      text-align: justify;

      &:last-of-type {
        font-size: 0.9em;
        text-align: center;
        line-height: 2em;
      }

      a {
        color: #fff;
        text-decoration: underline;
        background-image: url();
      }
    }

    .header__form {
      display: flex;
      align-items: center;
      position: relative;
      margin: 20px 0;
      position: relative;

      .fas {
        background-color: #fff;
        color: grey;
        position: absolute;
      }

      .fa-search {
        left: 15px;
      }

      .fa-times {
        right: 15px;
      }
      
      .header__form__input {
        width: 100%;
        height: 40px;
        padding: 10px 10px 10px 50px;
      }

      .header__form__label {
        position: absolute;
        font-weight: 700;
        color: #ab0000;
        top: -65px;
        left: calc(50% - 120px);
        font-size: 2em;
        line-height: 2em;
      }

      .header__form__input--error {
        border-color: #ab0000;
        color: #ab0000;
        outline: #ab0000;
      }

      .header__form__list {
        position: absolute;
        list-style: none;
        top: 45px;
        width: 100%;
        border: 1px solid black;
        background-color: #fff;
        color: #000;

        .form__list__elem {
          line-height: 30px;
          padding: 5px 10px;
          font-size: 0.8em;

          &:hover {
            background-color: lighten(grey, 40%);
            cursor: pointer;
          }
        }
      }

    }

    .header__form--error {
      margin-top: 65px;
    }
  }
}

.smallForm {
  height: auto;

  .header {
    width: 75%;

    .header__form {
      margin-bottom: 0;

      .fas {
        background-color: lighten(grey, 40%);
      }
      
      .header__form__input {
        border-radius: 20px;
        border: none;
        outline: none;
        background-color: lighten(grey, 40%);

        &:focus {
          border: 2px solid black;
          padding-left: 48px;
        }
      }
    }
  }
}