@import '../styles/config/variables';

.photoGallery {
  margin: 0 auto 20px;

  .photoGallery__description {
    justify-content: flex-start;
    overflow-x: hidden;

    .photoGallery__description__title {
      margin-left: 5px;
      font-weight: 700;
      font-size: 2em;
      line-height: 2em;
    }

    .photoGallery__description__tag {
      margin: 5px 5px 30px 5px;
      padding: 5px 30px;
      border: 1px solid $altMainColor;
      color: $mainColor;
      display: flex;
      align-items: center;
      flex: 1 0 auto;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        background-color: $altMainColor;
        border: 1px solid $darkerAltMainColor;
      }
    }
  }

  .photoGallery__list {
    flex-wrap: wrap;
  }
}