.photoGallery__list__elem {
  list-style: none;
  margin: 0 5px 10px 5px;
  flex-grow: 1;
  height: 25vh;

  &:last-child {
    flex-grow: 10;
  }

  .list__elem__img {
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 4px;
    transition: transform 300ms;

    &:hover {
      transform: scale(1.02);
      cursor: pointer;
    }
  }

  .list__elem__container {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10vh;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;

    .elem__container__box {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      width: 90vw;
      border-radius: 4px;

      .container__box__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: 2%;

        .box__header__user {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            margin: 0 15px;
          }
      
          p {
            &:last-of-type {
              font-size: 0.9em;
              color: grey;
            }
          }
        }

        .box__header__delete {
          color: grey;
          margin: 5px 10px;
          padding: 5px 10px;
          border: 1px solid grey;

          &:hover {
            cursor: pointer;
            color: black;
            background-color: lighten(grey, 40%);
            border: 1px solid lighten(grey, 30%);
          }
        }
      }

      .container__box__img {
        display: block;
        max-width: 90vw;
        max-height: 80vh;
        background-size: cover;
        background-color: #fff;
      }

      .container__box__footer {
        padding: 2%;
      }

    }
  }
}
