.photoGallery {
  margin: 0 auto 20px;

  .photoGallery__description {
    justify-content: flex-start;

    .photoGallery__description__title {
      margin-left: 5px;
      font-weight: 700;
      font-size: 2em;
      line-height: 2em;
    }
  }

  .photoGallery__list {
    display: flex;
    flex-wrap: wrap;
  }
}